---
layout: default
---

<div class="home">

  <h1 class="page-heading">Содержание</h1>

  <ul>
    <li><a href="{{ site.baseurl }}{% link guide/part1.md %}">Знакомство с языком. Часть 1</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/part2.md %}">Знакомство с языком. Часть 2</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/templates.md %}">Шаблонизация и подключение файлов</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/http_forms.md %}">Протокол HTTP и формы</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/sess_cookies.md %}">Идентификация пользователя на сайте</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/db_theory.md %}">База Данных: теория</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/db_practics.md %}">База Данных: практика</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/libraries.md %}">Объекты и использование библиотек</a></li>
  </ul>

  {{ content }}

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

</div>
