---
layout: default
---

<div class="home">

  <h1 class="page-heading">Содержание</h1>

  <ul>
    <li><a href="{{ site.baseurl }}{% link guide/content_01.md %}">Знакомство с языком. Часть 1</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/content_02.md %}">Знакомство с языком. Часть 2</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/content_03.md %}">Протокол HTTP и формы</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/content_04.md %}">Идентификация пользователя на сайте</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/content_05.md %}">База Данных: теория</a></li>
    <li><a href="{{ site.baseurl }}{% link guide/content_06.md %}">База Данных: практика</a></li>
  </ul>

  {{ content }}

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

</div>
